# History files
.Rhistory
.Rapp.history

# Session Data files
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/


# large files
Matilda_data/DMPs_mC1_mC2_20230831.csv
RoadMap/*.bed
/GeneHancer/
/enhanceratlas/

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# RStudio Connect folder
rsconnect/
